body {
  /* height: 1500px; */
}
.child {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border: 1px solid black;
  /* align-self: center; */
  /* justify-self: flex-end; */
}

.flexContainer {
  display: flex;
  height: 500px;
  background-color: black;
  /* flex-direction: column */
  /* flex-direction: column  default is row */
}

.justifycontent {
  justify-content: center;
  flex-direction: column;
}
.alignitems {
  align-items: center;
  flex-direction: row;
}

.box {
  height: 500px;
  /* width: 500px; */
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  background-color: black;
}
