/* 1. Add a font size of calc(16px + 0.5vw). 
Explain calc and why just using vw for text can be abit much.
2. Add a margin left and right of 5% */

/* 
what is calc ? calc is a function that will calculate the width for cards,borders,margins ect. Takes two values and combines them together for use.

vw - ( view width ) 


/* 
1. Set a background colour of black. Then make the page change colour depending on the width of the page. Use media queries so that the background colour of the page changes at the following breakpoints:
600px, 768px, 992px, 1200px


*/
body { 
  background-color: black;
color: white;
}

.box {
}

article {
  text-align: justify;
  font-size: calc(16px + 0.5vw);
  margin-left: 5%;
  margin-right: 5%;
}

/* Add a display none to the image  */
img {
  display: none;
}

@media screen and (max-width: 600px) {
body { background-color: blue;
color: white;
}

/* Change the font size to 20px
Add a width of 500px
Change margin to auto */
@media screen and (min-width: 701px) {
  article {
    font-size: 20px;
    width: 500px;
    margin: 0 auto;
  }

@media screen and (min-width: 768px) {
body { 
  background-color: red;
  color: white;
}

@media screen and (min-width: 992px) {
body { 
  background-color: green;
  color: white;
}

/* Change to image to display block with a position absolute Position it to 2% right and :left Give the image a width of 20% */
@media screen and (min-width: 1000px) {
  img {
    display: block;
    right: 2%;
    left: 2%;
    width: 20%;
    position: absolute;
  }
}

@media screen and (min-width: 1200px) {
body { 
  background-color: yellow;
color: white;
}